<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balasai.finalapp" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.balasai.finalapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.balasai.finalapp.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.balasai.finalapp.SignupActivity" android:theme="@style/AppTheme.Dark" />

        <activity
            android:name="com.balasai.finalapp.SignActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SignActivityMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.balasai.finalapp.GmailActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GmailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.balasai.finalapp.LinkedinActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LinkedinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.balasai.finalapp.ProfileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.balasai.finalapp.TwitterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name=".TwitterProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.balasai.finalapp.TwitterProfileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name=".TwitterProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e517a3b3b4dba4ad72e588ed0b47f1282efe7be7" />


    </application>

</manifest>
